/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap'); */
@import 'tailwindcss';

@font-face {
  font-family: 'Roboto Serif Bold';
  src: url('/fonts/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter Var';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-xl: 16px;
}
html {
  font-size: 16px;
}

html,
body {
  /* font-size: 16px; */
  /* box-sizing: border-box; */
  overflow-x: hidden;
}
@theme {
  --breakpoint-xl: 1440px;
  --color-background: #fbfaff;
}
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* a {
  font-size: 16px;
} */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.element {
  font-size: 24px;
}
